%form
  -#.alert
    -#%button.close{"data-dismiss" => "alert", :type => "button"} ×
    -#%b Warning!
    -#You best check yourself, you're not looking so good.
  %h1 Source
  .control-group
    .controls
      %label.radio{:for => "home_timeline"}
        %input#home_timeline{:name => "source", :type => "radio", :value => "home_timeline", :checked => "checked"}/
        My Home Timeline
      %label.radio{:for => "mentions"}
        %input#mentions{:name => "source", :type => "radio", :value => "mentions"}/
        Mentinons
      %label.radio{:for => "direct_messages"}
        %input#direct_messages{:name => "source", :type => "radio", :value => "direct_messages"}/
        Direct Messages
  %h1 Content
  .control-group
    .controls
      %label.checkbox{:for => "content_id"}
        %input#content_id{:name => "content", :type => "checkbox", :value => "id", :checked => "checked"}/
        ID
      %label.checkbox{:for => "content_message"}
        %input#content_message{:name => "content", :type => "checkbox", :value => "message", :checked => "checked"}/
        Message
      %label.checkbox{:for => "content_time"}
        %input#content_time{:name => "content", :type => "checkbox", :value => "time", :checked => "checked"}/
        Date/Time

  %h1 Format
  .control-group
    .controls
      %label.radio{:for => "format_plain_text"}
        %input#format_plain_text{:name => "format", :type => "radio", :value => "plain_text", :checked => "checked"}/
        Plain text

  %a.btn.btn-success.btn-large Download
