!!!
%html
  %head
    %title Bearded Tyrion: Tweets downloader
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8' }
    %link{ href: "css/bootstrap.min.css", rel: "stylesheet", media: "screen" }
    %link{ href: "css/bt.css", rel: "stylesheet", media: "screen" }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        %a.navbar-brand{href: root_path}
          Bearded Tyrion
        %p.navbar-text
          Tweets downloader
        - if current_user
          %p.navbar-text.pull-right
            Signed in as #{current_user.name}
            %img.bt-avatar{src:current_user.image}
            %a{href: "/auth/signout"}
              Sign Out
        - else
          %p.navbar-text.pull-right
            %a{href: "/auth/twitter"}
              Sign In with Twitter
    %p
      &nbsp;
    %p
      &nbsp;
    .container
      .row.bt-row
        .bt-inner
          .col-lg-8
            = yield

    %a.bt-top.affix{href: "#"}
      Back to top

    %footer.bt-footer
      %ul.footer-links
        %li
          %a{href: "http://8xx8.ru"}
            &copy; 8xx8
    %script{ src:"http://code.jquery.com/jquery.js" }
    %script{ src:"js/bootstrap.min.js" }
